@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', Regular;
    background-color: #83BCFF;
    background-color: #83BCFF;
    background-image: url("../assets/background.png");
    background-repeat: repeat;
    display: grid;
    grid-template:
        "col1 col2 col3" 100vh
        / 30vw 40vw 30vw;
    margin: 0px;
}
.center-text {
    text-align: center;
}
.game-div {
    grid-area: col2;
}

/* Settings fields */
.param-field {
    width:40px;
    appearance: textfield;
}
.param-label {
    margin-top: 2px;
    display: inline-block;
    font-weight: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Buttons */
button {
    font-family: Arial;
    background-color: #184c68;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #175b80;
}
.discordButton {
    font-family: Arial;
    text-decoration: none;
    background-color: #184c68;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.discordButton:hover {
    background-color: #175b80;
}
.arrow-button {
    height: 6vh;
    width: 7vh;
    min-height: 0; 
}

/* Text */
div[id="title"] {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: rgba(73, 0, 118, 0.867);
    font-family: 'Georgia';
}
div[id="subtitle"] {
    text-align: center;
    font-family: 'Georgia';
}
div[id="credit"] {
    font-size: 12px;
    text-align: center;
}
label[id="HtmlWinLabel"] {
    background-color: #00F6ED;
}
label[id="errorLabel"] {
    background-color:#ff0404;
}
.controls-list {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    place-items: center;
}
div[id="how-to-play-top-row"]{
    display: grid; 
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-flow: column;
    place-items: center;
}

/* Pop-ups */
.popup {
    display: none;  
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: #a483ff;
	padding: 20px;
	outline: 1px solid black;
	border-radius: 10px;
}
.popup-instruction {
    width: 65vw;
	height: 75vh;
    padding-right: 0px;
}
.popup-settings {
    width: 500px;
    height: 140px;
    max-width: 80vw;
    overflow-y: auto;
}
.popup-share {
    width: 300px;
    height: 270px;
    max-width: 80vw;
    overflow-y: auto;
}

/* Page Layout */
.arrow-panel {
    display: none;
}
.meta-button-panel {
    grid-area:col1; 
    display:flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 100px;
}
.control-panel {
    grid-area:col3; 
    display:flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 80px;
}
div[id="desktop-spacer"] {
    margin-top: 20px;
}
.mobile-side-spacer {
    margin-left: 0em;
}

@media (max-width: 760px) {
    body {
        grid-template:
            "row1" 510px
            "row2" 7vh
            "row3" 7vh
            "row4" 7vh
            / 100vw;
    }
    button {
        padding: 3px;
        font-size: 12px;
        min-height: 40px;
    }
    .discordButton {
        padding: 3px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        min-height: 40px;
    }
    div.popup button {
        min-height: 26px;
    }
    .game-div {
        align-items: center;
        grid-area: row1;
        margin-top: 0;
    }
    .arrow-panel {
        display: flex;
        grid-area: row2;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.1em;
    }
    .control-panel {
        grid-area: row3;
        flex-direction: row;
        align-items: center;
        gap: 0.1em;
        margin-top: 0px;
    }
    .popup-settings {
        width: 500px;
        height: 140px;
        max-width: 80vw;
        overflow-y: auto;
    }
    .meta-button-panel {
        grid-area: row4;
        flex-direction: row;
        align-items: center;
        gap: 0.1em;
        margin-top: 0px;
    }
    div[id="desktop-spacer"] {
        margin: 0;
        margin-top: 5px;
    }
    .mobile-side-spacer {
        margin-left: 0.1em;
    }
    .controls-list {
        display: none;
    }
    p[id=KeyboardControls] {
        display: none;
    }
}

